@import url('style.css');

@media (max-width: 300px) {
  .basicInfo {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0px;
    padding: 5px 5px;
    text-align: left;
  }

  .basicInfo .basicInfoBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    margin-bottom: 10px;
    padding: 0px;
  }

  button {
    width: 80%;
  }

  .basicInfo .inputBox {
    width: 20%;
    height: 15px;
    padding: 1px;
  }

  .basicInfo input {
    text-align: left;
    font-size: 1.1rem;
  }
}

@media screen and (min-width:300px) and (max-width:768px) {
  .basicInfo {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    text-align: left;
  }

  .basicInfo .basicInfoBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    margin-bottom: 10px;
  }

  button {
    width: 80%;
  }

  .basicInfo .inputBox {
    width: 30%;
    height: 15px;
    padding: 1px;
  }

  .basicInfo input {
    text-align: left;
    font-size: 1.4rem;
  }
}

@media (min-width: 576px) {
  button {
    width: 50%;
  }

  .mainQuestion {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  button {
    width: 40%;
  }

  .mainQuestion {
    width: 80vw;
  }

  .basicInfo {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    text-align: left;
  }

  .basicInfo .basicInfoBox {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    margin-bottom: 10px;
  }

  .basicInfo .inputBox {
    width: 70%;
    height: 15px;
    padding: 10px;
  }

  .basicInfo input {
    text-align: center;
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .placequestion {
    padding-left: 150px;
    padding-right: 150px;
  }

  button {
    width: 30%;
  }

  .mainQuestion {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  .mainQuestion {
    width: 60vw;
  }
}

@media (min-width: 1580px) {
  .mainQuestion {
    width: 50vw;
  }
}

@media (min-width: 1860px) {
  .mainQuestion {
    width: 40vw;
  }
}

@media (min-width: 2500px) {
  .mainQuestion {
    width: 30vw;
  }
}

#instruction {
  margin-bottom: 1.5rem;
}

.qh,
#emphasis {
  line-height: 2.5rem;
  font-weight: bold;
}

.basicInfo ul,
.basicInfo li {
  list-style: none;
}

.qusetion {
  margin-top: 1rem;
}

/* section styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.center {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.radio {
  display: flex;
  justify-content: space-around;
}


.basicInfo .inputBox {
  width: 70%;
  height: 15px;
  padding: 10px;
}

.basicInfo input {
  text-align: center;
  font-size: 1.4rem;
}

.mainQuestion {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.questionComment {
  text-align: center;
  font-size: 1.1rem;
}

.mainQuestion .NQquestion .selectionBox {
  display: flex;
  flex-wrap: wrap;
}

input[type=radio] {
  background-color: #FFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 16px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

input[type=radio]:checked {
  background-color: rgb(25, 118, 248);
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 16px;
  margin-right: 5px;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

button {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}
