@import url('style.css');

ul,
li {
  list-style: none;
  margin-bottom: 0px;
}
/* section styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.resultInfoBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px;
  text-align: left;
}
#guideParagraph {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

table{
  margin-top: 20px;
  margin-bottom: 20px;
}

table caption {
  font-weight: bolder;
  caption-side: top;
  text-align: center;
}


#recommendDiet td,
#recommendDiet2 td {
  font-size: larger;
}
