@import url('style.css');

/* A4용지 형태 만들기 */
.main {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px;
  text-align: left;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.paper {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  /* set contents area */
  margin: 10mm auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  font-family: 'Poor Story', cursive;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
  border: 1px black solid;
  height: 257mm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
    background: #fff;
  }

  .paper {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
/* ----------------------------------------------------- */

footer{
  background-color: rgba( 255, 255, 255, 0 )
}
.diagnosisResultPage ul,
.diagnosisResultPage li {
  list-style: none;
  margin-bottom: 0px;
}

/* section styles */
.diagnosisResultPage #normalBodyWeightRange{
  display: block;
  text-align: center;
  width: 70%;
  background-color: #198754;
  color: white;
}
.progress{
  margin-bottom: 0px;
  height: 25px;
}
.progress-bar{
  font-size: 1.1rem;
}
.diagnosisResultPage .page1 {
  font-size: 1.1rem;
}
.resultInfoBox {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.diagnosisResultPage #guideParagraph {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.diagnosisResultPage table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.diagnosisResultPage table caption {
  font-weight: bolder;
  caption-side: top;
  text-align: center;
}

#recommendDiet td,
#recommendDiet2 td {
  font-size: 1.3rem;
}

/* --------------------------------------------------------- */

.diagnosisResultPage .page2 .center {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.diagnosisResultPage .page2 #breakfastSelection,
.diagnosisResultPage .page2 #lunchSelection,
.diagnosisResultPage .page2 #dinnerSelection {
  font-size: 1.1rem;
}

.diagnosisResultPage .page2 .rowMeal {
  padding: 5px;
}

.diagnosisResultPage .page2 .itembox {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.diagnosisResultPage .page2 input[type=radio] {
  width: 18px;
  height: 18px;
  position: relative;
  top: -25px;
}

.diagnosisResultPage .page2 input[type=radio]:checked {
  width: 18px;
  height: 18px;
  position: relative;
  top: -25px;
}

.diagnosisResultPage .page2 .mealSelect {
  padding: 0px;
}

.diagnosisResultPage .page2 .DietGeneratorNarration {
  padding: 10px;
  text-align: center;
  font-size: 1.25rem;
}

.diagnosisResultPage .page2 #DietGeneratorButton {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.diagnosisResultPage .page2 .mealPhoto {
  width: 80px;
  height: 50px;
  margin-right: 20px;
}

.diagnosisResultPage .page2 .text_under {
  position: relative;
  font-weight: bolder;
  font-size: 1.5rem;
}

.diagnosisResultPage .page2 #foodcycle {
  margin-top: auto;
  height: 450px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.diagnosisResultPage .page2 footer {
  margin-top: 0px;
}

/* --------------------------------------------------------- */


.diagnosisResultPage .page3 h2{
  margin: 0px;
}
.diagnosisResultPage .dietExample {
  color: white;
  font-size: 1.1rem;
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}

.diagnosisResultPage .highPotassium {
  color: purple;
}

.diagnosisResultPage .grain {
  color: rgb(163, 76, 76);
}

.diagnosisResultPage .meat {
  color: crimson;
}

.diagnosisResultPage .vegetable {
  color: green;
}

.diagnosisResultPage .milk {
  color: black;
}

.diagnosisResultPage .fruit {
  color: rgb(255, 102, 0);
}

.diagnosisResultPage .liquid {
  color: rgb(39, 1, 255);
}

/* .grain{
  color: burlywood;
}
.meat{
  color: rgb(252, 98, 98);
}
.vegetable{
  color: lightgreen;
}
.milk{
  color: white;
}
.fruit{
  color: pink;
}
.liquid{
  color: rgb(173, 224, 245);
} */
/* .dietExample td:first-child{
  color: black;
  text-shadow: none;
} */

.diagnosisResultPage .page3 .dietExample .mealTitle {
  color: black;
  font-weight: bold;
  text-shadow: none;
  margin: 0px;
  font-size: 1.3rem;
}
.diagnosisResultPage .page3 .tray{
  position: relative;
}
.diagnosisResultPage .page3 .dish1 {
  position: absolute;
  top: 120px;
  left: 50px;
}
.diagnosisResultPage .page3 .dish2 {
  position: absolute;
  top: 127px;
  left: 125px;
}
.diagnosisResultPage .page3 .dish3 {
  position: absolute;
  top: 57px;
  left: 55px;
}
.diagnosisResultPage .page3 .dish4 {
  position: absolute;
  top: 57px;
  left: 113px;
}
.diagnosisResultPage .page3 .dish5{
  position: absolute;
  top: 20px;
  left: 197px;
}

.diagnosisResultPage .page3 .dish6 {
  position: absolute;
  top: 85px;
  left: 195px;
}

.diagnosisResultPage .page3 .emptyplate {
  height: 217px;
  width: 300px;
}
.diagnosisResultPage .page3 .foodPhoto {
  width: 55px;
  height: 55px;
}
.diagnosisResultPage .page3 .bigDish{
  height: 65px;
  width: 65px;
}
.diagnosisResultPage .page4 .foodSneck{
  height: 80px;
  width: 80px;
}

.diagnosisResultPage .page3 {
  position: relative;
}

.diagnosisResultPage .page3 footer{
  position: absolute;
  top: 970px;
  left: 130px
}

/* ----------------------------------------------------- */

.diagnosisResultPage .page4 .NCP {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.diagnosisResultPage .page4 .NCP label {
  font-size: 1.3rem;
  font-weight: bold;
}

.diagnosisResultPage .page4 .NCPdiagnosis {
  border-width: 1px;
  text-align: center;
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  margin-top: 10px;
}

/* DiabetesConsultPage 페이지 공통-----------------------*/
.DiabetesConsultPage p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* DiabetesConsultPage 페이지1----------------*/
.DiabetesConsultPage .page1 table caption{
  color: black;
  font-weight: bold;
  caption-side: top;
}
.DiabetesConsultPage .page1 #clock24h{
  width: 250px;
  height: 250px;
}
.DiabetesConsultPage .page1 #Sugery15{
  width: 500px;
  height: 150px;
}
.DiabetesConsultPage .page1 .appropriateMealTime{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}
.DiabetesConsultPage .page1 .mealTime{
  width: 150px;
  height: 1rem;
}
.DiabetesConsultPage .page1 h3{
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
/* DiabetesConsultPage 페이지2----------------*/
.DiabetesConsultPage .page2 .mealPlan li{
  margin-top: 1rem;
  font-weight: bold;
}
.DiabetesConsultPage .page2 #grain1serve{
  width: 520px;
  height: 264px;
  display: block; 
  margin: 0px auto; 
}
.DiabetesConsultPage .page2 #protein1serve{
  width: 520px;
  height: 137px;
  display: block; 
  margin: 0px auto; 
}
.DiabetesConsultPage .page2 #vege1serve{
  width: 520px;
  height: 141px;
  display: block; 
  margin: 0px auto; 
}
/* DiabetesConsultPage 페이지3----------------*/
.DiabetesConsultPage .page3 #DMfruit{
  width: 520px;
  height: 143px;
  display: block; 
  margin: 0px auto; 
}
.DiabetesConsultPage .page3 #DMexercise{
  width: 500px;
  height: 261px;
  display: block; 
  margin: 0px auto; 
}
.DiabetesConsultPage .page3 ol li{
  padding-inline-start: 1ch;
  list-style-type:"\269D";
  margin-top: 1rem;
  font-weight: bold;
}

/* CKDConsultPage 페이지 공통----------------*/
.CKDConsultPage p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 20px;
  text-align: left;
}
/* CKDConsultPage 페이지1----------------*/
.CKDConsultPage .page1 h3{
  margin-top: 1rem;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}
.CKDConsultPage .page1 ul{
  margin-top: 16px;
}
.CKDConsultPage .page1 #CKDcookPicture{
  width: 500px;
  height: 274px;
  display: block; 
  margin: 0px auto; 
}
/* CKDConsultPage 페이지2----------------*/
.CKDConsultPage .page2 .mealPlan li{
  margin-top: 1rem;
  font-weight: bold;
}
.CKDConsultPage .page2 #grain1serve{
  width: 500px;
  height: 134px;
  display: block; 
  margin: 0px auto; 
}
.CKDConsultPage .page2 #protein1serve{
  width: 500px;
  height: 132px;
  display: block; 
  margin: 0px auto; 
}
.CKDConsultPage .page2 #vege1serve{
  width: 500px;
  height: 240px;
  display: block; 
  margin: 0px auto; 
}
.CKDConsultPage .page2 h2{
  margin-bottom: 0px;
}
/* CKDConsultPage 페이지3----------------*/
.CKDConsultPage .page3 ol{
  list-style-type :none;
}
.CKDConsultPage .page3 li{
  padding-inline-start: 1ch;
  list-style-type:"\269D";
  margin-top: 1rem;
  font-weight: bold;
}
.CKDConsultPage .page3 #CKDfruit{
  width: 500px;
  height: 263px;
  display: block; 
  margin: 0px auto;
}
.CKDConsultPage .page3 #energySneck{
  width: 500px;
  height: 105px;
  display: block; 
  margin: 0px auto;
}
.CKDConsultPage .page3 #proteinSneck{
  width: 500px;
  height: 106px;
  display: block; 
  margin: 0px auto;
}
.CKDConsultPage .page3 #redLine{
  color: red;
  text-align: center;

}
/* CKDConsultPage 페이지4----------------*/
.CKDConsultPage .page4 ul li{
  padding-inline-start: 1ch;
  list-style-type:"\269D";
  margin-top: 2rem;
  font-weight: bold;
}
.CKDConsultPage .page4 ol li{
  padding-inline-start: 1ch;
  list-style-type:"\2620";
  margin-top: 2rem;
  font-weight: bold;
}
.CKDConsultPage .page4 #warningSneck{
  width: 550px;
  height: 412px;
  display: block; 
  margin: 0px auto;
}
